/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;700&family=Montserrat:wght@300&family=Noto+Serif:wght@300&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #3a3a3a;
    font-family: 'Montserrat', sans-serif;
}

/*Targets all h1 fonts*/
h1 {
    font-family: 'Merriweather', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #252525;
}

/*Header*/
header {
    background-color: #ffffff;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header a {
    text-decoration: none;
    color: inherit;

}

/*Header logo size*/
.logo {
    width: 120px;
    height: 80px;

}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    list-style-type: none;
}

#menu li {
    margin-bottom: 1em;
}

/*This shows a line under the title of the page which is currently active*/
.active {
    border-bottom: 1px solid #3a3a3a;
}

/*Navigation Menu*/
nav {
    position: absolute;
    background-color: #ffffff;
    padding: 0 1rem;
    width: 100%;
    left: 0;
    box-shadow: 0 2px 2px #3a3a3a;
    /*Menu itens hidden untill user clicks to open*/
    display: none;
    /*This tells  Navigation Menu that it should start at the botton of the parent elemnet */
    top: 100%
}

/*Navigation Menu toggle, when checked display in block*/
#nav-toggle:checked~nav {
    display: block;
}

/*Hides checkbox*/
#nav-toggle {
    display: none;
}

/*Toggle label size*/
.nav-toggle-label {
    font-size: 2rem;
    color: #112233;
}

/*Main*/
main {
    background-color: #112233;
    /* Enlarged main element to push footer down*/
    flex: 1 0 auto;
    /* Add margin at the top to prevent content from being covered by the header */
    margin-top: 85px;
    /* Enables flex properties for child elements */
    display: flex;
    flex-direction: column;
}

/* Hero section */
#hero {
    height: 600px;
    width: 100%;
    /*Image centered horizontally and vertically*/
    background: url("../images/hero_lackyle.webp")no-repeat center center/cover;
    position: relative;
}

/*Text ontop on the Hero image*/
#cover-text {
    /* Final rgba value sets the opacity so it is semi-transparent */
    background-color: rgba(185, 195, 200, 0.8);
    font-size: 130%;
    position: absolute;
    bottom: 30px;
    width: 80%;
    min-height: 200px;
    padding-top: 40px;
    padding-left: 10px;

    /*Cover text size and color*/
}

#cover-text>h2,
#cover-text>h3 {
    color: #112233;
}

/*About Us section*/
/*About Us heading*/
#about-us h2 {
    text-align: center;
    padding-top: 15px;
    color: #ffffff;
}

/*About Us text paragraph*/
#about-us>p {
    /*Centers text in a block in the middle*/
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    padding: 20px;
    color: #ffffff;
}

/* Our Services section */
#services {
    background: url(../images/services.webp) no-repeat center/cover;
    /* Handles responsivity without the need for a media query */
    display: flex;
    flex-wrap: wrap;
}

#services div {
    color: #fafafa;
    background-color: rgba(0, 0, 0, .6);
    padding: 20px;
    text-align: center;
    /* This will not wrap on screens of less than 400px wide.
    Each div will expand to fill the available space on its row */
    flex-basis: 200px;
    flex-grow: 1;
}

#our-services h2 {
    /* Override the heading colour set in general styles */
    color: #fafafa;
    margin-top: 15px;
    padding: 15px;
    text-align: center;

}

#services h3 {
    /* Override the heading colour set in general styles */
    color: #fafafa;
    line-height: 1.3;
    text-decoration: underline;
    margin-bottom: 15px;

}

#services p {
    /* Override the heading colour set in general styles */
    color: #fafafa;
    padding: 5px;
    line-height: 1.3;

}



/*Contact Page*/
/*Contact Us Form*/
#contact {
    background-image: url("../images/lackyle_contact.webp");
    background-size: cover;
    height: 600px;
    width: 100%;
    background-position: 20%;
    padding: 20px 20% 0 10%;
    flex-grow: 1;
}

/*Contact form text and backround color*/
.contact-form {
    color: #ffffff;
    background-color: rgba(17, 35, 63, 0.7);
    padding: 10px;
}

/*Targets the h2 elements on the contact form*/
.contact-form>h2 {
    color: #fafafa;
    margin-bottom: 20px;
}

/*Contact form text imput boxes*/
.text-input {
    background: transparent;
    color: #fafafa;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 2px solid #fafafa;
    border-radius: 2px;
    padding: 0 5px;
}

/*Contact form number imput boxes*/
.number-input {
    background: transparent;
    color: #fafafa;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 2px solid #fafafa;
    border-radius: 2px;
    padding: 0 5px;
}

/*Contact form submit button*/
.contact-button {
    margin-top: 20px;
    border-radius: 20px;
    padding: 5px 10px;
    font-size: 100%;
    background-color: #112233;
    color: #fafafa;
}


/*Footer*/
footer {
    background-color: #112233;
}

/* Location section */
#location {
    /* Handles responsivity without the need for a media query */
    display: flex;
    flex-wrap: wrap;

}

/* Location section */
#location {
    /* Handles responsivity without the need for a media query */
    display: flex;
    flex-wrap: wrap;
}

#location div {
    color: #fafafa;
    background-color: rgba(17, 34, 51);
    padding: 15px;
    text-align: left;
    /* This will not wrap on screens of less than 400px wide.
    Each div will expand to fill the available space on its row */
    flex-basis: 200px;
    flex-grow: 1;
    /* Creates a grid of meetup time dives over the background image */

}

#location h3,
h5 {
    /* Override the heading colour set in general styles */
    color: #fafafa;
    padding: 5px;
    line-height: 1.3;
}

#location p {
    font-size: 12px;
    padding-left: 10px;
    line-height: 1.3;
}

/*Footer Contact Us map*/
.logo-map {
    width: 150px;

}

/*Footer Social Media Icons*/
/*Targets Social media icons*/
#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    /*Displays icons in a line*/
    list-style-type: none;
}

#social-networks i {
    font-size: 180%;
    color: #ffffff;
    border-radius: 24px;
    padding: 5px;
    box-shadow: 0px 3px 4px rgba(239, 239, 240, 0.8);
}

.facebook:hover {
    background-color: #4267B2;
    border-radius: 22px;
    transform: translateY(-20px);
}

.twitter:hover {
    background-color: #1DA1F2;
    border-radius: 22px;
    transform: translateY(-20px);
}

.youtube:hover {
    background-color: #FF0000;
    border-radius: 22px;
    transform: translateY(-20px);
}

.instagram:hover {
    background-color: #E1306C;
    border-radius: 22px;
    transform: translateY(-20px);
}

/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {

    /* Header */
    nav {
        display: block;
        /*Displays inside header*/
        position: relative;
        /* box shadow removed */
        box-shadow: none;
        /*Menu items will sit to the right of the screen*/
        width: fit-content;
        padding-right: 1rem;
    }

    /* Navigation Menu items will in a row on larger screens*/
    #menu {
        display: flex;
    }

    /*To space menu items out*/
    #menu>li {
        padding-left: 1rem;
    }

    /*X hidden on larger screens*/
    .nav-toggle-label {
        display: none;
    }

    /*Logo will display bigger on larger screen size*/
    .logo {
        width: 140px;
        height: 100px;
        padding-top: 2px;
    }

    /* Main content */
    main {
        /* This will push main content down to allow for a larger header on larger screens */
        margin-top: 79px;
    }

    /* Hero image */
    #cover-text {
        width: 300px;
        right: 50px;
    }

    /* Contact Us Form */
    .contact_us {
        background-position: center;
        position: relative;
    }

    .contact-form {
        max-width: 400px;
        position: absolute;
        left: 10%;
        top: 150px;
    }

    /*Text imput boxcolor on hover*/
    .text-input:hover {
        border-color: #f16c6b;
    }

    /*Number imput box color on hover*/
    .number-input:hover {
        border-color: #f16c6b;
    }

    /*Contact button color on hover*/
    .contact-button:hover {
        background-color: #c7d0d9;
        color: #112233;

    }

    /* Media Query: Large devices (laptops and desktops, 992px and up) */
    @media screen and (min-width: 992px) {

        /*On hover line will appear under test to indicate it is clickable*/
        #menu a:hover {
            border-bottom: 1px solid #3a3a3a;
        }
    }
}