/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;700&family=Montserrat:wght@300&family=Noto+Serif:wght@300&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #3a3a3a;
    font-family: 'Montserrat', sans-serif;
}

/*Header*/
header {
    background-color: white;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
}

/*Header logo size*/
.logo {
    width: 120px;
    height: 80px;

}

/*Main*/
main {
    background-color: blueviolet;
    /* Enlarged main element to push footer down*/
    flex: 1 0 auto;
}

/*Footer*/
footer {
    background-color: blue;
}