/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;700&family=Montserrat:wght@300&family=Noto+Serif:wght@300&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #3a3a3a;
    font-family: 'Montserrat', sans-serif;
}

/*Targets all h1 fonts*/
h1 {
    font-family: 'Merriweather', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #252525;
}

/*Header*/
header {
    background-color: white;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
}

header a {
    text-decoration: none;
    color: inherit;

}

/*Header logo size*/
.logo {
    width: 120px;
    height: 80px;

}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    list-style-type: none;
}

#menu li {
    margin-bottom: 1em;
}

/*This shows a line under the title of the page which is currently active*/
.active {
    border-bottom: 1px solid #3a3a3a;
}

/*Main*/
main {
    background-color: blueviolet;
    /* Enlarged main element to push footer down*/
    flex: 1 0 auto;
}

/*Footer*/
footer {
    background-color: blue;
}