/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;700&family=Montserrat:wght@300&family=Noto+Serif:wght@300&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #3a3a3a;
    font-family: 'Montserrat', sans-serif;
}

/*Targets all h1 fonts*/
h1 {
    font-family: 'Merriweather', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #252525;
}

/*Header*/
header {
    background-color: white;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header a {
    text-decoration: none;
    color: inherit;

}

/*Header logo size*/
.logo {
    width: 120px;
    height: 80px;

}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    list-style-type: none;
}

#menu li {
    margin-bottom: 1em;
}

/*This shows a line under the title of the page which is currently active*/
.active {
    border-bottom: 1px solid #3a3a3a;
}

/*Navigation Menu*/
nav {
    position: absolute;
    background-color: #ffffff;
    padding: 0 1rem;
    width: 100%;
    left: 0;
    box-shadow: 0 2px 2px #3a3a3a;
    /*Menu itens hidden untill user clicks to open*/
    display: none;
    /*This tells  Navigation Menu that it should start at the botton of the parent elemnet */
    top: 100%
}

/*Navigation Menu toggle, when checked display in block*/
#nav-toggle:checked~nav {
    display: block;
}

/*Hides checkbox*/
#nav-toggle {
    display: none;
}

/*Toggle label size*/
.nav-toggle-label {
    font-size: 2rem;
    color: #112233;
}

/*Main*/
main {
    background-color: blueviolet;
    /* Enlarged main element to push footer down*/
    flex: 1 0 auto;
    /* Add margin at the top to prevent content from being covered by the header */
    margin-top: 85px;
    flex-direction: column;
}

/* Hero section */
#hero {
    height: 600px;
    width: 100%;
    /*Image centered horizontally and vertically*/
    background: url("../images/hero_lackyle.webp")no-repeat center center/cover;
    position: relative;
}

/*Text ontop on the Hero image*/
#cover-text {
    /* Final rgba value sets the opacity so it is semi-transparent */
    background-color: rgba(185, 195, 200, 0.8);
    font-size: 130%;
    position: absolute;
    bottom: 30px;
    width: 80%;
    min-height: 200px;
    padding-top: 40px;
    padding-left: 10px;

    /*Cover text size and color*/
}

#cover-text>h2,
#cover-text>h3 {
    color: #112233;
}

/*Footer*/
footer {
    background-color: #112233;
}

/*Footer Social Media Icons*/
/* Social Network icon formatting */
#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    /*Displays icons in a line*/
    list-style-type: none;
}

/*Targets Social media icons*/
#social-networks i {
    font-size: 160%;
    padding: 5%;
    color: #ffffff;
}

/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {

    /* Header */
    nav {
        display: block;
        /*Displays inside header*/
        position: relative;
        /* box shadow removed */
        box-shadow: none;
        /*Menu items will sit to the right of the screen*/
        width: fit-content;
        padding-right: 1rem;
    }

    /* Navigation Menu items will in a row on larger screens*/
    #menu {
        display: flex;
    }

    /*To space menu items out*/
    #menu>li {
        padding-left: 1rem;
    }

    /*X hidden on larger screens*/
    .nav-toggle-label {
        display: none;
    }

    /*Logo will display bigger on larger screen size*/
    .logo {
        width: 140px;
        height: 100px;
        padding-top: 2px;
    }

    /* Media Query: Large devices (laptops and desktops, 992px and up) */
    @media screen and (min-width: 992px) {

        /*On hover line will appear under test to indicate it is clickable*/
        #menu a:hover {
            border-bottom: 1px solid #3a3a3a;
        }
    }
}